body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    height: 100vh;
}

body {
    background: linear-gradient(to bottom right, #77CDFF, #0D92F4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.left-panel {
    color: white;
    padding: 100px;
    text-align: center;
}

.left-panel h1 {
    
    color: #ffffff;
    font-weight: normal;

}

.left-panel p {
    
    color: #ffffff;
    font-weight: normal;

}

.right-panel {
    background-color: white;
    padding: 5rem;
    box-shadow: 0 5px 5px #00000028;
}

.btn-custom {
    margin-bottom: 1rem; /* Aumenta el margen entre los botones */
    padding: 2rem; /* Aumenta el padding de los botones */
}

.btn{
    font-weight: bold;
    font-size: 1.5rem;
    color:white;
    border: none;
    transition: transform 0.3s ease;
}

.btn:hover{
    transform: scale(1.05);
}

.btn-outline-primary {
    background: transparent;
    border: #0D92F4 2px solid;
    color: #0D92F4;
    border-color: #0D92F4;
}

.btn-outline-primary:hover{
    background: #0b5ed7;
}

.btn-danger{
    background: #F95454;
}

#color1{
    color:#0D92F4;
}

#color2{
    color:#F95454;
}