html, body {
    height: 100vh;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}
body {
    display: grid;
}

.footer {
    background-color: #e6e6e6;
    padding: 30px 20px;
    font-size: 0.9rem;
}
.social-circle {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 5px;
}
.circle-blue {
    background-color: #2196f3;
}
.circle-black {
    background-color: #000;
}
.circle-pink {
    background-color: #d81b60;
}
